:root {

    --primary: rgb(113 82 188);
    --secondary: rgb(223, 215, 215);
    --dark-primary: #563895;
    --red: rgb(170 57 57);
}

* {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

html,
body,
#app {
    min-height: 100vh;
}

.flex {

    display: flex;
}

.w-100 {

    width: 100%;
}


#navbar {

    width: 20%;
    background-color: var(--primary);
    display: flex;
    color: white;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#nav-title {

    justify-content: space-around;
    padding: 50px 0 60px;
    font-size: 30px;
}

#nav-item {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#nav-item:hover {

    z-index: 98;
    cursor: pointer;

}

.selected-item {
    border-top-left-radius: 200px 200px;
    border-bottom-left-radius: 200px 200px;
    transform: translateX(50px);
    background-color: var(--secondary);
    color: var(--primary);
}

.content-light {

    z-index: 99;
    width: 80%;
    background-color: var(--secondary);
    padding: 50px;
    margin: 0 auto;
}

.content-dark {

    z-index: 99;
    width: 80%;
    background-color: var(--dark-primary);
    color: var(--secondary);
    padding: 50px;
    margin: 0 auto;
}

#content-header {

    display: flex;
    justify-content: center;
    font-size: 35px;
}

ul {
    padding: 0;
}

.item {

    list-style-type: none;
    margin: 30px 30px 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type=text] {
    border: none;
    background: inherit;
    font: inherit;
    outline: none;
    color: inherit;
    text-align: center;
}

input[type=checkbox] {

    height: 25px;
    width: 25px;
    border: none;
    line-height: 25px;
    margin: 0 10px 0 0;
}

.add-btn {
    display: flex;
    justify-content: center;
}

button {

    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    font-size: 18px;
    display: inline;
}

.item-buttons {

    display: flex;
    align-items: center;
}

.danger-btn {

    font-size: 14px;
    padding: 8px;
    background-color: var(--red)
}

#add-btn {

    margin-top: 30px;
}

#add-category-btn {

    z-index: 9999;
    position: fixed;
    left: 10px;
    bottom: 10px;
}

#right-bar {
    z-index: 9999;
    position: fixed;
    right: 10px;
    bottom: 10px;
}